<% provide :panel_title, 'Grade' %>

<%= render layout: 'simple_panel' do %>
  <div class="element">
    <%= render 'grades/grade', grade: @grade %>
  </div>

  <%= render 'comments/comments', commentable: @grade %>
<% end %>
