<div class="jumbotron">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <p>
    Schoolity is a communication system between parents and school.
  </p>
  <p>
    <%= link_to 'Github', 'https://github.com/m-alow/schoolity' %>
  </p>
</div>
