<div class="element">
  <div class="element-title">
    Discuss
  </div>
  <ul id="comments" class="list-group">
    <% commentable.comments.order(created_at: :asc).each do |c| %>
      <li id="comment-<%= c.id %>" class="list-group-item">
	<%= render c %>
      </li>
    <% end %>
  </ul>

  <div id="comment-form">
    <%= render 'comments/form', commentable: commentable, comment: Comment.new %>
  </div>
</div>
