<% provide :panel_title, 'New Announcement' %>

<% content_for :actions_list do %>
  <li><%= link_to 'Announcements list', school_announcements_path(@school) %></li>

  <li class="divider"></li>
  <li><%= link_to 'School', @school %></li>
<% end  %>

<%= render layout: 'wide_panel' do %>
  <%= render 'announcements/new_form', announceable: @school, announcement: @announcement %>
<% end %>
