<% provide :panel_title, 'Add student' %>

<% content_for :actions_list do %>
  <li><%= link_to 'Students', school_students_path(@school) %></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <%= simple_form_for [@school, @student] do |f| %>
    <%= render 'form_fields', f: f %>
  <% end %>
<% end %>
