<% provide :panel_title, "Following codes for #{@classroom.name}" %>

<% content_for :panel_footer do %>
  <%= link_to 'Classroom', @classroom %>
<% end %>

<%= render layout: 'wide_panel' do %>
  <table class="table">
    <% @following_codes.each do |following_code| %>
      <tr>
	<td><%= following_code.student.name %></td>
	<td><%= following_code.code %></td>
      </tr>
    <% end %>
  </table>
<% end %>
