<ul class="list-group">
  <% notifications.each do |n| %>
    <li id="notification-<%= n.id %>" class="list-group-item notification-link">
      <%= render 'notifications/notification', notification: n  %>
    </li>
  <% end %>
</ul>
