<ul class="list-inline">
  <% if behavior.rating.present? %>
    <li class="element">
      <div class="element-title">Rating</div>
      <div><%= behavior.rating %></div>
    </li>
  <% end %>

  <% if behavior.notes.present? %>
    <li class="element">
      <div class="element-title">Notes</div>
      <div><%= simple_format behavior.notes %></div>
    </li>
  <% end %>

</ul>
