<% provide :panel_title, 'Behavior'  %>

<% content_for :actions_list do %>
  <li><%= link_to 'Behaviors list', behaviors_path(@behavior) %></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <div class="element">
    <%= render 'behaviors/behavior', behavior: @behavior %>
  </div>

  <%= render 'comments/comments', commentable: @behavior %>
<% end %>
