<% provide :panel_title, student.name %>

<% content_for :actions_list do %>
  <li><%= link_to 'Parent Panel', parent_panel_path %></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <%= render 'student_links', following: following %>
<% end %>
