<% provide :panel_title, 'Add subject' %>

<% content_for :actions_list do %>
  <li><%= link_to 'Subjects', school_class_subjects_path(@school_class) %></li>
<% end %>

<%= render layout: 'wide_panel' do %>
  <%= simple_form_for [@school_class, @subject] do |f| %>
    <%= render 'form_fields', f: f %>
  <% end %>
<% end %>
