<div class="form-group">
  <%= f.label :title, class: 'control-label', required: false %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :summary, class: 'control-label', required: false %>
  <%= f.text_area :summary, class: 'form-control' %>
</div>
