<% provide :panel_title, 'Lesson' %>

<%= render layout: 'simple_panel' do %>
  <div class="element">
    <%= render @lesson %>
  </div>

  <%= render 'comments/comments', commentable: @lesson, comment: Comment.new %>
<% end %>
