<% provide :panel_title, 'Edit school' %>

<% content_for :actions_list do %>
  <li><%= link_to 'Show', @school %></li>
  <li><%= link_to 'Back', schools_path %></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <%= render 'form' %>
<% end %>
