<div class="element-title">
  <%= absence.student.name %> was absent
</div>

<div class="element-section">
  on <%= time_tag absence.day.date %>
</div>

<% unless absence.notes.empty? %>
  <div class="internal-element">
    <%= absence.notes %>
  </div>
<% end %>
