<% provide :panel_title, 'Absence' %>

<%= render layout: 'simple_panel' do %>
  <div class="element">
    <%= render 'absences/absence', absence: @absence %>
  </div>

  <%= render 'comments/comments', commentable: @absence %>
<% end %>
