<% provide :panel_title, 'Unread Notifications' %>

<%= content_for :actions_list do %>
  <li><%= link_to 'All Notifications', all_parent_notifications_path %></li>
<% end %>

<%= render layout: 'wide_panel' do %>
  <%= render 'notifications/notifications', notifications: @notifications %>
<% end %>
