<% provide :panel_title, 'Feed' %>

<% content_for :actions_list do  %>
  <li><%= link_to 'Parent Panel', parent_panel_path %></li>
<% end %>

<%= render layout: 'simple_panel' do %>
  <% @feed.each do |f| %>
    <div>
      <div class="time-header"><%= time_ago_in_words f.updated_at %> ago</div>
      <div>
	<%= render_object f %>
      </div>
    </div>
  <% end %>
<% end %>
