
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


@import "_variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "_bootswatch";

body { padding-top: $navbar-height + 25; }

.field_with_errors {
  @extend .has-error;
}

.form-actions {
  margin-top: 1em;
  padding-top: 1em;
}

.panel-primary {
    .panel-heading {
	h5 {
	    color: white;
	}
    }
}

.panel-footer {
    padding-top: 1em;
    padding-bottom: 1em;
}

html.turbolinks-progress-bar::before {
    background-color: lighten($brand-primary, 40%) !important;
    height: 5px !important;
}