
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require trix
 *= require simple_calendar
 */


@import "_variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "_bootswatch";

body { padding-top: $navbar-height + 25; }

.field_with_errors {
  @extend .has-error;
}

.form-actions {
  margin-top: 1em;
  padding-top: 1em;
}

.panel-primary {
    .panel-heading {
	h5 {
	    color: white;
	    display: inline-block;
	}
    }
}

.panel-footer {
    padding-top: 1em;
    padding-bottom: 1em;
}

.turbolinks-progress-bar {
    background-color: lighten($brand-primary, 40%) !important;
    height: 5px !important;
}

.accordion-section-title {
    display: block;
    &:hover {
	text-decoration: none;
    }
}

.form-control {
    background: white;
}

.well-title {
    margin-bottom: 3px;
    background: $brand-danger;
    font-weight: bold;
    color: darken(white, 5%);
    a {
	color: white;
	transition: color 0.5s;
	&:hover {
	    color: #ccc;
	    text-decoration: none;
	}
    }
}

.close-well {
    margin-bottom: 3px;
}

.time-header {
    margin-bottom: 1px;
    padding: 4px;
    padding-left: 10px;
    background: lighten($brand-primary, 20%);
    a {
	color: white;
	text-decoration: none;
	transition: color 0.5s;
	&:hover {
	    color: #ccc;
	}
    }
}

.collection_radio_buttons {
    margin-right: 12px;
}
.simple-calendar {
    th {
	text-align: center;
    }



    .day {
	padding: 10px;
	text-align: left;
	transition: background-color 0.8s;

	.calendar_link {
	    display: block;
	    height: 100%;
	    font-size: 120%;
	}

	&:hover {
	    background-color: #005;
	    .calendar_link {
		text-decoration: none;
		font-size: 160%;
		color: #eee;
		transition: font-size 0.5s, color 0.5s;
	    }
	}

	&:active {
	    background-color: #00B;
	}
    }

    .calendar-heading {
	text-align: center;
	font-size: 175%;
	a {
	    &:hover {
		text-decoration: none;
	    }
	}
    }
}

.comment-heading {
    h6 {
	font-size: 100%;
    }
}

.comment-body {
    color: #666;
}

.element {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 36px;
    padding: 6px 12px;
    background-color: #fff;
}

.internal-element {
    @extend .element;
    margin-bottom: 6px;
}

.element-section {
    @extend .well, .well-sm;
    border-bottom: 1px solid #ccc;
    background-color: inherit;
}

.element-title {
    @extend .element-section;
    font-weight: bold;
    font-size: 105%;
}

.element-light-header {
    padding-bottom: 12px;
    color: $gray-light;
    font-size: 90%;
    a {
	font-size: 105%;
	&:hover {
	    text-decoration: none;
	}
    }

}

.element-bold-header {
    color: $gray;
    font-size: 85%;
    font-weight: bold;
    padding-bottom: 0px;
}
