<div class="row row-centered">
  <div class="col-md-offset-4 col-md-4 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">Add teacher</div>

      <div class="panel-body">
	<%= render 'new_form' %>
      </div>

      <div class="panel-footer">
	<%= link_to 'Teachers', classroom_teachings_path(@classroom) %>
      </div>
    </div>
  </div>
</div>
