<div class="element-title">
  Activity of <%= activity.student.name %>
  in <%= activity.lesson.subject&.name %> lesson
  on <%= time_tag activity.lesson.day.date %>
</div>

<div class="internal-element">
  <%= render 'activities/content', activity: activity %>
</div>
