<% provide :panel_title, 'Activity' %>

<%= render layout: 'simple_panel' do %>
  <div class="element">
    <%= render 'activities/activity', activity: @activity %>
  </div>

  <%= render 'comments/comments', commentable: @activity, comment: Comment.new %>
<% end %>
